

.dialogs {
display: grid;
    grid-template-columns: 2fr 8fr;
    /*padding: 15px 15px;*/
}

.dialogsItem {
    padding: 15px;
}

.dialogsItem .active {
    color: saddlebrown;
}

.messages {
padding: 15px;
}